@font-face {
  font-family: 'Roboto-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Bold.otf'), url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Light.otf'), url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Medium.otf'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  vertical-align: baseline;
  background: none;
  white-space: normal;
  transition: all 0.3s ease-in-out;
}
form {
  height: inherit;
}
iframe {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background: url("../img/bg.png");
}
A:link,
A:active,
A:hover,
A:visited {
  color: #000;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 48px;
  font-size: 3rem;
}
h2 {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
}
.wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background: #fff;
}
.head {
  display: flex;
  width: 100%;
  background: linear-gradient(180deg, #212820 0%, #33632E 23.78%, #42953A 48.95%, #46B041 74.11%, #4AB343 100%);
  align-items: center;
  justify-content: space-between;
}
.head .logo {
  width: 100%;
  max-width: 440px;
}
.head .logo a {
  display: flex;
  max-height: 156px;
}
.head .logo a img {
  width: 100%;
  max-width: 110%;
  object-fit: contain;
}
.head .search_bar {
  width: 100%;
  max-width: 353px;
  height: 38px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .search_bar input {
  border: 1px solid #fff;
  width: 100%;
  max-width: 220px;
  padding: 0 11px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #999;
}
.head .search_bar a {
  display: block;
  background: url("../img/search.svg") no-repeat;
  width: 16px;
  height: 16px;
  background-size: 100%;
  position: relative;
  right: 17px;
}
.head .contacts {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-end;
  position: relative;
  margin-right: 40px;
}
.head .contacts .numbers {
  display: flex;
  flex-direction: column;
}
.head .contacts .numbers a {
  color: #fff;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 22px;
  font-size: 1.375rem;
}
.head .contacts .numbers a span {
  color: #A2D89B;
}
.head .contacts .res {
  color: #fff;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  padding-bottom: 2px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  width: auto;
}
.nav {
  display: flex;
  width: 100%;
  height: 42px;
  background: #000;
  padding: 0 17px;
  justify-content: space-between;
}
.nav nav {
  width: 100%;
  max-width: 630px;
}
.nav nav ul {
  display: flex;
  height: 100%;
}
.nav nav ul li {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
}
.nav nav ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}
.nav nav ul li a {
  color: #fff;
  padding: 12px 22px;
  text-transform: uppercase;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
}
.nav .cart {
  width: 240px;
  height: 100%;
  background: #2B2B2B;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .cart a {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #fff;
  position: relative;
  text-indent: 26px;
}
.nav .cart a:before {
  display: block;
  position: absolute;
  content: '';
  background: url('../img/cart.svg') no-repeat;
  width: 18px;
  height: 16px;
  top: 1px;
  background-size: contain;
}
.banner {
  width: 100%;
  max-width: 100%;
}
.banner a {
  display: flex;
  width: 100%;
  max-height: 349px;
}
.banner a img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}
.advantages {
  display: flex;
  padding: 30px 25px;
}
.advantages p {
  flex: 1;
  margin: 0;
  padding-left: 25px;
  position: relative;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #000;
}
.advantages p:before {
  display: block;
  position: absolute;
  content: '';
  background: url('../img/ok.svg') no-repeat;
  width: 12px;
  height: 8px;
  background-size: 100%;
  left: 8px;
  top: 5px;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
}
.breadcrumbs:after {
  display: block;
  position: absolute;
  content: '';
  border: 1px solid #ddd;
  width: calc(100% - 32px);
  height: 0px;
  bottom: 0;
}
.breadcrumbs a {
  text-transform: uppercase;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  color: #000;
}
.breadcrumbs a span {
  color: #999;
}
.breadcrumbs a.main {
  text-transform: none;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #2F80ED;
  font-weight: bold;
}
.wrap {
  background: #fff;
}
.wrap.content {
  padding: 15px;
}
.wrap.is_sidebar {
  display: flex;
  flex-direction: row;
}
.wrap h2 {
  margin: 0;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #000;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.wrap h2:after {
  display: block;
  position: relative;
  content: '';
  border: 1px solid #ADADAD;
  width: 100%;
  height: 0px;
  max-width: 946px;
  left: 15px;
}
.wrap .item_wrap {
  width: 100%;
}
.wrap .item_wrap .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FAFAFA;
  border-radius: 10px;
  padding: 10px;
}
.wrap .item_wrap .bar .style_toggle {
  display: flex;
  border: 1px solid #ddd;
}
.wrap .item_wrap .bar .style_toggle a {
  display: flex;
  position: relative;
  width: 50px;
  height: 30px;
  padding: 7px 20px;
}
.wrap .item_wrap .bar .style_toggle a:first-child {
  border-right: 1px solid #ddd;
}
.wrap .item_wrap .bar .style_toggle a.active {
  background: #efecec;
}
.wrap .item_wrap .bar .style_toggle a img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}
.wrap .item_wrap .bar .sort label,
.wrap .item_wrap .bar .display label {
  display: flex;
  align-items: stretch;
}
.wrap .item_wrap .bar .sort label p,
.wrap .item_wrap .bar .display label p {
  background: #efecec;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 25px;
  border: 1px solid #efecec;
  border-radius: 2px;
  position: relative;
}
.wrap .item_wrap .bar .sort label p img,
.wrap .item_wrap .bar .display label p img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  position: absolute;
  left: 5px;
  top: 8px;
}
.wrap .item_wrap .bar .sort label select,
.wrap .item_wrap .bar .display label select {
  height: 30px;
  padding: 5px 20px 5px 5px;
}
.wrap .item_wrap .item_list {
  flex-wrap: wrap;
}
.wrap .item_wrap .item_list .item {
  margin-bottom: 20px;
}
.wrap .item_list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.wrap .item_list .item {
  width: 100%;
  max-width: 257px;
  border: 1px solid #ddd;
  padding: 15px;
}
.wrap .item_list .item .item_image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.wrap .item_list .item .item_image img {
  width: 100%;
  max-width: 180px;
  object-fit: contain;
}
.wrap .item_list .item .item_name {
  padding-top: 16px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #000;
  border-top: 1px solid #ddd;
}
.wrap .item_list .item .price {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  color: #000;
}
.wrap .item_list .item .advantages {
  display: none;
}
.wrap .item_list .item .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .item_list .item .actions p.price.in {
  display: none;
}
.wrap .item_list .item .actions .counter {
  width: 110px;
  display: flex;
}
.wrap .item_list .item .actions .counter span {
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #000;
  flex: 2;
}
.wrap .item_list .item .actions .counter span.act {
  background: #FAFAFA;
  flex: 1;
  cursor: pointer;
}
.wrap .item_list .item .actions .counter span.act:hover {
  background: #efecec;
}
.wrap .item_list .item .actions .add_to_cart {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  background: #269B30;
  padding: 5px 5px 5px 25px;
  position: relative;
  border: 1px solid #269B30;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.wrap .item_list .item .actions .add_to_cart:before {
  display: block;
  position: absolute;
  content: '';
  background: url('../img/basket.svg') no-repeat;
  width: 15px;
  height: 15px;
  background-size: contain;
  left: 5px;
}
.wrap .item_list.column {
  flex-direction: column;
}
.wrap .item_list.column .item {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.wrap .item_list.column .item .item_image {
  margin-right: 20px;
}
.wrap .item_list.column .item .info {
  flex-direction: column;
}
.wrap .item_list.column .item .info .item_name {
  margin-top: 0;
}
.wrap .item_list.column .item .info .advantages {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  padding-left: 0;
  padding-right: 0;
}
.wrap .item_list.column .item .info .advantages p {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #000;
  font-weight: 100;
}
.wrap .item_list.column .item .info .advantages p:first-child {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 100;
  color: #000;
}
.wrap .item_list.column .item .info p:first-child {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #2F80ED;
  font-weight: bold;
  border: none;
}
.wrap .item_list.column .item .info p.price {
  display: none;
}
.wrap .item_list.column .item .info .actions p.price.in {
  display: flex;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  color: #000;
}
.wrap .sidebar {
  margin-right: 20px;
  width: 350px;
}
.wrap .sidebar ul {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.wrap .sidebar ul li {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0 10px 10px;
}
.wrap .sidebar ul li a {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #2F80ED;
  font-weight: bold;
  text-transform: uppercase;
}
.wrap .sidebar ul li.active {
  background: #efecec;
}
.wrap .sidebar ul li.active a {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
  font-weight: bold;
}
.wrap .sidebar ul li:last-child {
  border-bottom: none;
}
.wrap .response_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrap .response_wrap .response_item {
  width: 100%;
  max-width: 350px;
  border: 1px solid #ddd;
  padding: 15px;
}
.wrap .response_wrap .response_item .head_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .response_wrap .response_item .head_wrap .name {
  margin: 0;
}
.wrap .response_wrap .response_item .head_wrap .stars_wrap {
  display: flex;
}
.wrap .response_wrap .response_item .head_wrap .stars_wrap span {
  width: 13px;
  height: 13px;
  background: url('../img/star_empty.svg') no-repeat;
  background-size: contain;
  margin-right: 3px;
}
.wrap .response_wrap .response_item .head_wrap .stars_wrap span:last-child {
  margin-right: 0;
}
.wrap .response_wrap .response_item .head_wrap .stars_wrap span.active {
  background: url('../img/star.svg') no-repeat;
}
.wrap .response_wrap .response_item p {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #000;
}
.wrap.subscribe_wrap {
  background: #FAFAFA;
  position: relative;
  overflow: hidden;
}
.wrap.subscribe_wrap:before {
  position: absolute;
  display: block;
  content: '';
  background: url('../img/mail.svg') no-repeat;
  width: 150px;
  height: 150px;
  background-size: contain;
  transform: rotate(-20deg);
  top: -8px;
  left: 25px;
}
.wrap .subscribe {
  display: flex;
  width: 100%;
  max-width: 780px;
  padding: 40px 0 50px;
  margin: auto;
  justify-content: space-between;
}
.wrap .subscribe .descr {
  width: 100%;
  max-width: 330px;
}
.wrap .subscribe .descr p {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #000;
  margin: 0;
  text-align: right;
}
.wrap .subscribe .descr p.first {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 17px;
  font-size: 1.0625rem;
}
.wrap .subscribe .fields_wrap {
  width: 100%;
  max-width: 430px;
  display: flex;
}
.wrap .subscribe .fields_wrap input {
  flex: 3;
  margin-right: 20px;
  border: 2px solid #ddd;
  border-radius: 2px;
  padding: 10px 0 10px 10px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #000;
  background: #fff;
}
.wrap .subscribe .fields_wrap input::-webkit-input-placeholder {
  color: #999;
}
.wrap .subscribe .fields_wrap input::-moz-placeholder {
  color: #999;
}
.wrap .subscribe .fields_wrap input:-ms-input-placeholder {
  color: #999;
}
.wrap .subscribe .fields_wrap input:-moz-placeholder {
  color: #999;
}
.wrap .subscribe .fields_wrap .subscr_button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  background: #3372B6;
  border: 1px solid #3372B6;
  border-radius: 2px;
  padding: 0 10px;
}
.wrap .main_info {
  display: flex;
  align-items: flex-start;
}
.wrap .main_info .left {
  width: 430px;
  height: 430px;
  display: flex;
  margin-right: 35px;
}
.wrap .main_info .left img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}
.wrap .main_info .right {
  width: 100%;
}
.wrap .main_info .right .advantages {
  flex-direction: column;
  padding-left: 0;
}
.wrap .main_info .right .price_info {
  width: 100%;
  background: #FAFAFA;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.wrap .main_info .right .price_info .row:first-child {
  border-bottom: 1px solid #ddd;
}
.wrap .main_info .right .price_info .row {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .main_info .right .price_info .row .price {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
}
.wrap .main_info .right .price_info .row .price span {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 100;
  color: #000;
  padding-right: 10px;
}
.wrap .main_info .right .price_info .row .availability {
  padding: 2px 5px 2px 20px;
  background: #E0F0DA;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #269B30;
  position: relative;
  display: flex;
  align-items: center;
}
.wrap .main_info .right .price_info .row .availability:before {
  display: block;
  position: absolute;
  content: '';
  background: url('../img/correct.svg') no-repeat;
  width: 14px;
  height: 14px;
  background-size: contain;
  left: 3px;
}
.wrap .main_info .right .count_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #E8E8E8;
}
.wrap .main_info .right .count_wrap .counter_wrap {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.wrap .main_info .right .count_wrap .counter_wrap p {
  margin-right: 10px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
  font-weight: bold;
}
.wrap .main_info .right .count_wrap .counter_wrap .counter {
  width: 110px;
  height: 30px;
  display: flex;
}
.wrap .main_info .right .count_wrap .counter_wrap .counter span {
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #000;
  flex: 2;
}
.wrap .main_info .right .count_wrap .counter_wrap .counter span.act {
  background: #FAFAFA;
  flex: 1;
  cursor: pointer;
}
.wrap .main_info .right .count_wrap .counter_wrap .counter span.act:hover {
  background: #efecec;
}
.wrap .main_info .right .count_wrap .add_to_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  background: #3372B6;
  border: 1px solid #3372B6;
  border-radius: 2px;
  padding: 10px 10px 10px 30px;
  position: relative;
}
.wrap .main_info .right .count_wrap .add_to_cart:before {
  display: block;
  position: absolute;
  content: '';
  background: url('../img/cart1.svg') no-repeat;
  width: 15px;
  height: 15px;
  background-size: contain;
  left: 5px;
}
.wrap .main_info .right .delivery {
  display: flex;
  align-items: center;
}
.wrap .main_info .right .delivery img {
  opacity: .5;
  width: 50px;
  height: 35px;
  margin-right: 10px;
}
.wrap .main_info .right .delivery p {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #999;
  width: 100%;
  max-width: 210px;
}
.wrap .tabs_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #999;
}
.wrap .tabs_list a {
  padding: 13px 20px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #2F80ED;
  position: relative;
  top: 1px;
  border-radius: 5px 5px 0px 0px;
}
.wrap .tabs_list a.active {
  color: #999;
  border: 1px solid #999;
  border-bottom: 1px solid #fff;
}
.wrap .tabs_content {
  margin-left: 20px;
}
.wrap .tabs_content h3 {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  margin: 40px 0;
}
.wrap .tabs_content p {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
  margin-bottom: 20px;
}
footer .foot {
  background: #111;
  display: flex;
  flex-direction: column;
  padding: 50px 25px 20px;
}
footer .foot p {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}
footer .foot .upper_side {
  display: flex;
  justify-content: space-between;
}
footer .foot .upper_side .foot_descr {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
footer .foot .upper_side .foot_descr a {
  display: flex;
}
footer .foot .upper_side .foot_descr a img {
  width: 35px;
  height: 40px;
  opacity: .5;
}
footer .foot .upper_side .cards_we_use {
  display: flex;
  flex-direction: column;
}
footer .foot .upper_side .cards_we_use p {
  text-align: center;
}
footer .foot .upper_side .cards_we_use img {
  width: 136px;
  height: 40px;
}
footer .foot .upper_side .socials {
  display: flex;
  flex-direction: column;
}
footer .foot .upper_side .socials .soc_wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
footer .foot .upper_side .socials .soc_wrap a {
  display: flex;
  position: relative;
  width: 35px;
  height: 35px;
}
footer .foot .upper_side .socials .soc_wrap a img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}
footer .foot .lower_side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot .lower_side .copy_wrap {
  display: flex;
  width: 100%;
  max-width: 400px;
}
footer .foot .lower_side .copy_wrap a {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}
